@import "tailwindcss";

:root {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-dark: #111827;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0f172a;
  color: #f8fafc;
}

body {
  margin: 0;
  min-height: 100vh;
}